/* (c) John Bokma, 2019-2020 */

$background-color: white;
$page-background-color: white;
$text-color: #333;
$heading-color: black;
$label-color: black;
$border-color: #333;
$date-color: black;
$self-color: #333;
$link-color: #00e;
$pre-background-color: #eee;
$blockquote-background-color: white;

$border: solid 1px $border-color;
$border-radius: 6px;

@import 'fonts';
@import 'tumblelog';

blockquote {
    border-radius: initial;
    padding-left: 10px;
    border-left: solid 3px #999;
}

figure {
    margin: 0;

    img {
        display: block;
    }

    figcaption {
        color: #666;
        padding: 2px;
        margin-bottom: 1em;
    }
}
