/* (c) John Bokma, 2019-2020 */

$background-color: initial;
$page-background-color: initial;
$text-color: #c6c6c6;
$heading-color: #828282;
$label-color: #880c1d;
$border-color: #880c1d;
$date-color: white;
$self-color: #828282;
$link-color: #f7cf0a;
$pre-background-color: #1e252f;
$blockquote-background-color: black;

$border: solid 3px $border-color;
$border-radius: initial;

@import 'fonts';
@import 'tumblelog';

body {
    background-image: radial-gradient(circle, #444, #0a0a0a);
}

#tl-main-header {
    background-color: black;
    margin-bottom: 30px;
}

.tl-title {
    h1 {
        color: white;
        font-style: initial;
        line-height: 52px;
        padding-top: 0;
        padding-bottom: 8px;
    }

    span {
        padding-top: 6px;
    }
}

.tl-navigation {
    float: right;
    margin: 12px 0;
}

.tl-date,
.tl-topbar {
    clear: both;
    position: relative;
    left: -10px;
    width: 480px;
    padding-right: 10px;
    @media screen and (max-width: 479px) {
        width: 320px;
    }
    background-color: #880c1d;
    border: 0;
}

article,
.tl-next-prev {
    position: relative;
    left: -10px;
    background-color: black;
    width: 480px;
    padding: 10px;
    margin: 20px 0;
    @media screen and (max-width: 479px) {
        width: 320px;
    }
}

article h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

article h3 {
    font-size: 18px;
    line-height: 27px;
}

article h4 {
    font-size: 16px;
    line-height: 24px;
}

.tl-archive h2 {
    font-size: 24px;
}

section,
.tl-archive {
    margin: 0;
    padding: 10px 10px 6px;
}

.tl-archive {
    background-color: black;
    border: 0;
}

figure {
    margin: 0;

    img {
        display: block;
        border-radius: $border-radius $border-radius 0 0;
    }

    figcaption {
        color: #666;
        padding: 4px;
        margin-bottom: 1em;
    }
}

blockquote {
    padding-left: 10px;
    border-left: solid 3px #880c1d;
}

.tl-next-prev {
    border: 0;
}

.tl-month-navigation {
    border-top: 0;
}

footer {
    background-color: black;
    margin: 20px 0 0;
    padding: 10px;
    border: 0;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
}
