/* (c) John Bokma, 2019-2020 */

$background-color: white;
$page-background-color: white;
$text-color: #33475b;
$heading-color: #33475b;
$label-color: #33475b;
$border-color: #ff7a59;
$date-color: #33475b;
$self-color: #828282;
$link-color: #00a4bd;
$pre-background-color: #eaf0f6;
$blockquote-background-color: white;

$border: solid 3px $border-color;
$border-radius: initial;

@import 'fonts';
@import 'tumblelog';

#tl-main-header {
    background-color: #f5f8fa;
    border-bottom: solid 1px #7c98b6;
    margin-bottom: 30px;
}

.tl-title {
    h1 {
        font-style: initial;
        line-height: 52px;
        padding-top: 0;
    }

    span {
        padding-top: 6px;
    }
}

time,
.tl-topbar,
.tl-next-prev,
.tl-month-navigation {
    position: relative;
    left: -10px;
    width: 480px;
    padding-right: 10px;
    @media screen and (max-width: 479px) {
        width: 320px;
    }
}

article {
    h2 {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
    }

    h3 {
        font-size: 18px;
        line-height: 27px;
    }

    h4 {
        font-size: 16px;
        line-height: 24px;
    }
}

.tl-archive h2 {
    font-size: 24px;
}

figcaption {
    padding-top: 10px;
}

section,
.tl-archive {
    margin: 0;
    padding: 10px 10px 6px;
}

figure {
    margin: 0;

    img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: block;
    }

    figcaption {
        font-size: 12px;
        color: #666;
        padding: 4px;
        margin-bottom: 1em;
    }
}

blockquote {
    padding-left: 10px;
    border-left: solid 3px $border-color;
}

.tl-month-navigation {
    padding: 10px 10px 0;
}

footer {
    margin: 0;
    padding: 10px;
    border: 0;
    color: white;
    background-color: #33475b;

    a {
        color: #cbd6e2;

        &:hover {
            color: #7fd1de;
        }
    }
}
