/* (c) John Bokma, 2019-2025 */

@use 'tumblelog' with (
    $background-color: #1b384a,
    $page-background-color: #102e3f,
    $text-color: #9cb1b3,
    $heading-color: #faeb91,
    $label-color: #faeb91,
    $border-color: none,
    $date-color: #faeb91,
    $self-color: #9cb1b3,
    $link-color: #9cb1b3,
    $pre-background-color: #1b384a,
    $blockquote-background-color: inherit,

    $border: none,
    $border-radius: none
);


.tl-main-header {
    background-color: #0a1f2a;
    margin-bottom: 20px;

    .tl-title {
        h1 {
            font-style: italic;
            text-transform: lowercase;
        }

        span {
            font-style: italic;
        }
    }

    nav {
        text-align: right;

        ul {
            margin: 0;
            display: inline-block;
            font-size: 12px;
            font-style: italic;
            padding-top: 10px;
            padding-bottom: 2px;

            a {
                color: tumblelog.$heading-color;
                padding: 5px;

                &:hover {
                    background-color: #881018;
                }
            }
        }
    }
}

.tl-date {
    display: inline-block;
    float: right;
    position: relative;
    padding: 5px;
    display: inline-block;
    background-color: #881018;
}

.tl-topbar {
    height: initial;
}

article,
.tl-archive,
.tl-month-overview,
.tl-calendar,
.tl-tag-overview,
.tl-tags-overview,
footer {
    a {
        text-decoration: underline;
    }
}

figure {
    margin: 0;

    img {
        display: block;
    }

    figcaption {
        font-size: 12px;
        padding: 4px;
        margin-bottom: 1em;
    }
}

blockquote {
    padding-left: 10px;
    border-left: solid 2px tumblelog.$text-color;
}

.tl-tag-cloud {
    margin-bottom: 16px;
}

.tl-archive {
    margin: 0;
    padding: 10px;
    background-color: #881018;
    color: tumblelog.$date-color;

    h2 {
        margin-top: 0;
    }

    a {
        color: inherit;
    }
}

footer {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #0a1f2a;
}
