/* (c) John Bokma, 2019-2020
 *
 * Palette taken in part from 'Thought Provoking' by Miss_Anthropy
 * https://www.colourlovers.com/palette/694737/Thought_Provoking
 */

$background-color: #d95b43;
$page-background-color: white;
$main-header-background-color: #53777a;
$main-header-color: white;
$main-nav-color: white;
$slogan-color: white;
$text-color: black;
$heading-color: #c02942;
$label-color: #01535f;
$border-color: #53777a;
$date-color: #53777a;
$self-color: #999;
$link-color: #d95b43;
$pre-background-color: #eee;
$blockquote-background-color: white;
$blockquote-border-color: #999;
$footer-background-color: #542437;
$footer-color: white;

$border: solid 1px $border-color;
$border-radius: initial;

@import 'fonts';
@import 'tumblelog';

#tl-page {
    margin: 0 auto;
}

#tl-main-header {
    background-color: $main-header-background-color;

    h1 {
        color: $main-header-color;
    }

    div {
        color: $slogan-color;
    }

    a {
        color: $main-nav-color;
    }
}

footer {
    background-color: $footer-background-color;
    color: $footer-color;
    margin: 0;
    padding: 10px;
    text-align: center;

    a {
        color: inherit;
    }
}

blockquote {
    border-radius: $border-radius;
    border-left: solid 3px $blockquote-border-color;
}

figure {
    margin: 0;

    img {
        display: block;
    }

    figcaption {
        color: #666;
        padding: 2px;
        margin-bottom: 1em;
    }
}
