/* (c) John Bokma, 2019-2025 */

@use 'tumblelog' with (
    $background-color: white,
    $page-background-color: white,
    $text-color: #464646,
    $heading-color: #464646,
    $label-color: #e3aa25,
    $border-color: #a4adad,
    $date-color: #acacac,
    $self-color: #acacac,
    $link-color: #464646,
    $pre-background-color: #eee,
    $blockquote-background-color: inherit,

    $border: solid 2px #a4adad,
    $border-radius: initial
);


.tl-main-header {
    .tl-navigation {
        text-align: center;
        background-color: #d0d0d0;
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 12px;
    }
}

figure {
    margin: 0;

    img {
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    figcaption {
        font-size: 12px;
        padding: 4px;
        margin-bottom: 1em;
    }
}

article,
.tl-month-overview,
.tl-calendar,
.tl-tag-overview,
.tl-tags-overview,
.tl-archive {
    a {
        border-bottom: solid 2px tumblelog.$label-color;
    }
}

blockquote {
    padding-left: 10px;
    border-left: solid 3px tumblelog.$label-color;
}

footer {
    text-align: center;
    margin: 10px;
    padding: 4px;
    border-top: 0;
    color: white;
    background-color: black;

    a {
        color: tumblelog.$label-color;
    }
}
