/* (c) John Bokma, 2019-2020 */

$background-color: white;
$page-background-color: #f0f1ec;
$text-color: #333;
$heading-color: #1b5854;
$label-color: $text-color;
$border-color: none;
$date-color: $text-color;
$self-color: $text-color;
$link-color: #538b95;
$pre-background-color: #ddd;
$blockquote-background-color: inherit;

$border: none;
$border-radius: initial;

@import 'fonts';
@import 'tumblelog';

#tl-main-header {
    background-color: $background-color;

    .tl-title {
        position: relative;

        h1 {
            color: #ccc;
            text-shadow: rgba(10, 10, 10, 0.5) 2px 2px 1px;
        }

        div {
            padding-left: 40px;
            display: block;
        }

        span {
            right: 0;
            top: 0;
            position: absolute;
        }
    }

    nav {
        text-transform: lowercase;

        .tl-navigation {
            text-align: right;
            padding-bottom: 10px;
        }
    }
}

.tl-date,
.tl-topbar {
    float: right;
}

figure {
    margin: 0;

    img {
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    figcaption {
        font-size: 12px;
        padding: 4px;
        margin-bottom: 1em;
    }
}

blockquote {
    padding-left: 10px;
    border-left: solid 2px $text-color;
}

.tl-archive,
footer {
    margin: 0;
    padding: 10px;
    background-color: #d4dddc;
}
